@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

.section2{
  background-color: #213928;
  margin-top: -2rem;
  padding: 2rem 3rem;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Fredoka', sans-serif;

  .esq{
      display:flex ;
      flex-direction: column;
    h1{
      color: rgb(226, 226, 226);
      font-size: 5rem;
      letter-spacing: 0.5rem;
      margin-bottom: 1rem;
    }
    p{
      color: rgba(231, 229, 229, 0.966);
      font-weight: 800;
      font-size: 1.3rem;
      line-height: 1.2rem;
      opacity: 0.8;
    }

  }
  .dir{
    padding-left: 7rem;
  }
}

.bnt-start{
  display: inline-block;
  outline: 0;
  border: none;
  height: 5rem;
  width: 10rem;
  border-radius: 2rem;
  text-transform: uppercase;
  background-color: #a5d3b2;
  color: rgba(0, 0, 0, 0.746);
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.8s;
}


.bnt-start:hover{
  background-color: #000000;
  color: rgb(233, 233, 233);
}


